body{
  font-family: "Montserrat-bold";
}
#title{
  background-color: #ff4c68;
  color: white;

}
h1{
  font-family: 'Montserrat-bold', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bolder;
}
h3{
  font-family: "Montserrat";
  font-weight: bolder;
}
p{
  color: #8f8f8f;
}
.container-fluid{
  padding: 3% 15%;
}
/* navigation bar */


.navbar{
  padding-bottom: 4.5rem;
  padding-left: 0;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-family: "Montserrat";
  font-size: 1.2rem;
  font-weight: bolder;
}

/* download-buttons */
.dload-btn{
  margin: 5% 3% 5% 0;
  font-family: "Montserrat";
  font-weight: bolder;
}

/* title-image */
.title-img{
width: 70%;
transform: rotate(25deg);
}
/* features-section */
#features{
  padding: 7% 15%;
}
.feature-box{
  padding: 5%;
  text-align: center;
}

.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover{
  color: #ff4c68;
}
